.App {
  text-align: center;
  margin: auto;
  width: 95%;
  height: 500px;
  border-color: aqua;
}
header{
  background: #4614A7;
  margin-top: 5px;
  height: 8cqb;
  
}
header h1 {
  color: #fff;
  font-size: 20px;
  padding-top: 20px;
}
.nav {
  width: 95%;
  margin: auto;
}
.nav form{
  display: flex;
  margin-top: 10px;
}
#search input{
  width: 100%;
  height: 30px;
}
